@media  screen and (max-width:991px) {

    h3
    {
        font-size: 1.2rem;
    }
    #hamburger-button
    {
        display: block;
        margin-right: 20px;
        color: var(--primary-text-color);
    }
    #navlink
    {
        display: none;
    }
    .news-card
    {
        width: calc(50% - 20px);
        height: 180px;
    }
    #cta
    {
        height: 300px;
    }

}

@media screen and (max-width:767px) {
    #hero
    {
        flex-direction: column-reverse;
    }
    #left
    {
        max-width: 100vw;
        text-align: center;
    }
    .button3
    {
        width: 80%;
        margin: 0 60px;
    }
    .info-box
    {
        min-width:45%;     /* leaving some spaces for gap between them */
    }
    .info-section
    {
        flex-direction: column;
    }
    .info-section-container
    {
        flex-direction: column;
    }
    #footer-container
    {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .navlinks
    {
        align-items: stretch;
        justify-content: stretch;
        background-color: red;
    }
    #subfooter
    {
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 479px) {
    :root {
        --padding-inline-section: 10px;
    }

    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }
    
    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    .info-box{
        min-width: 100%;
    }

    .news-card {
        width: 100%;
    }
}